version: "3.9"

services:
  web:
    build: .
    container_name: ai_blog_app
    command: gunicorn ai_blog_app.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
